# total 8 errors

includes:
    - callable.nonCallable.neon
    - complexity.functionLike.neon
    - disallowed.function.neon
    - minus.leftNonNumeric.neon
    - offsetAccess.nonOffsetAccessible.neon
    - phpstanApi.class.neon
    - property.notFound.neon
    - staticMethod.deprecatedClass.neon
