# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Class Guanguans\\PhpCsFixerCustomFixers\\Fixer\\CommandLineTool\\AbstractFixer has PHPDoc tag @property for property \$configuration with no value type specified in iterable type array\.$#'
            count: 2
            path: ../src/Fixer/CommandLineTool/AbstractFixer.php
