# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Class Guanguans\\PhpCsFixerCustomFixers\\Fixers does not have a constructor and must be instantiated without any parameters\.$#'
            count: 1
            path: ../src/Fixers.php
