# total 1 error

parameters:
    ignoreErrors:
        -
            message: '''
            	#^Call to method camelCaseToUnderscore\(\) of deprecated class PhpCsFixer\\Utils\:
            	This is a God Class anti\-pattern\. Don't expand it\. It is fine to use logic that is already here \(that's why we don't trigger deprecation warnings\), but over time logic should be moved to dedicated, single\-responsibility classes\.$#
            '''
            count: 1
            path: ../src/Fixer/CommandLineTool/GenericsFixer.php
