# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '''
            	#^Call to method toString\(\) of deprecated class PhpCsFixer\\Utils\:
            	This is a God Class anti\-pattern\. Don't expand it\. It is fine to use logic that is already here \(that's why we don't trigger deprecation warnings\), but over time logic should be moved to dedicated, single\-responsibility classes\.$#
            '''
            count: 6
            path: ../src/Fixer/BladeFixer.php
