# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Parameters should have "string" types as the only types passed to this method$#'
            count: 1
            path: ../src/Fixers.php
